/* Header tarjetas de usuario , menu de navegacion , logos logo */

* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 300px;
}

.tituloEmpresa {
    background-color: rgb(233, 36, 36);
    color: white;
    height: 50px;
    font-size: large;
    text-align: center;
    padding: 15px;
}

.tituloEmpresa p {
    margin: 0px;
    padding: 0px;
}


body {

    margin: 0px;
    padding: 0px;
}

.bordeNegro {
    border: solid black;
}

.seccionLogo {
    display: flex;
    height: 80px;


}

.logo {
    background-image: url("../ImagenesGlobales/logoSurtitiendas.jpg");
    background-size: cover;
    height: 100%;
    width: 80px;
}

/* Seccion de los logos de inicio de sesion */



.iniciarSesion,
.registrarte {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(233, 36, 36);

}

.registrarte p {
    display: none;
}

.seccionInicio {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px 20px 45%;
}

#tarjetaIniciarSesion , #seccionMostrarDatos , #tarjetaCerrarSesion  {

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(238 186 120);
    position: fixed;
    visibility: hidden;

}

/* menu de busqueda */

.seccionMenu {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(233, 36, 36);
    width: 100%;

}

.opcionMenu {
    text-decoration: none;
    color: white;
    margin: auto;

}


/* seccion footer */

footer {
    background-color: rgb(233, 36, 36);
    color: white;
    text-align: center;
    width: 100%;
}

footer p {
    font-size: large;
}


.logoAlqueria {
    background-image: url("../4-form-prod/imagenes/logo-alqueria-blanco.png");
    background-size: cover;
    width: 200px;
    height: 60px;
    margin: 0px auto;

}


.seccionRedesSociales {
    display: flex;
    width: 80%;
    margin: 10px auto;
    justify-content: space-evenly;
}




#seccionMostrarDatos button , #tarjetaCerrarSesion button , #tarjetaIniciarSesion button {
    width: 30%;
    margin: 0PX auto;
    border-radius: 3px ;
    border: none;
    background-color: rgb(229 171 97);
    height: 20px;
}


#tarjetaIniciarSesion input{
    background-color:rgb(229 171 97);
    margin: 5px;
    border-radius: 3px ;
    border: none;
    color: black;
    height: 25px;
}

#tarjetaIniciarSesion a{
    background-color: rgb(229 171 97);
    width: 50%;
    height: 20px;
    margin: 5px auto;
    border-radius: 3px ;
}

#botonesCerrarSesion{
    display: flex;
}



#entradaDatos {

    display: flex;
    text-align: center;
    flex-direction: column;
    width: 200px;
    margin: 20px auto;
}

#enlaceRegistro {
    margin-top: 10px;
}


#seccionRegistro input {
    width: 50%;

}

#botonesRegistro {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0px auto;
    
}

#botonesRegistro button  {
    background-color: rgb(229 171 97);
    margin: 5px;
    border-radius: 3px;
    border: none;
    color:black;
    height: 25px;
}



@media (min-width:0px) and (max-width:320px) {

    /* header */

    .seccionInicio {
        min-width: 100px;
        margin: 20px 0px 20px 0%;
    }

    .iniciarSesion,
    .registrarte {
        width: 30px;
        height: 35px;

    }

    .simboloInicioSesion {
        width: 30px;
        height: 30px;
    }

    .seccionMenu {
        flex-direction: column;
    }

    .seccionMenu a {
        margin: 10px auto;

    }

    .buscador input {
        width: 60%;
    }

    .buscador input[type="submit"] {

        border-radius: 30px;
        background-color: rgb(233, 36, 36);
        border: none;
        width: 30%;
    }

    /* main */

    main {
        padding: 5px;
        width: 100%;
        margin: 0px auto;
        border-radius: 20px;
        margin-bottom: 200px;

    }

    .productos {
        flex-direction: column;
        width: 100%;
    }

    .productos img {
        width: 100px;
        height: 100px;
    }

    .facturaActual {
        width: 100%;
        height: 100px;

    }

    

    .seccionBotones p {
        margin: 0px 2px;
        height: 30px;
        padding-top: 5px;
    }

    .tarjeta{
        border: solid rgb(230, 194, 129) 10px;
    }


    .textoTarjeta {
        font-size: 18px;
        padding: 0px;
    }

    /* formulario */

    form {
        width: 100%;
       
    }

    form h2  {
        font-size: 18px;
       
    }

    form input {
        width: 80%;
       
    }

    .seccionFacturacion textarea{
        width: 80%;
    }

    .seccionFacturacion button{
        width: 80%;
        margin: 5px;
    }

    .registro {
        padding: 0px;
    }


    /* footer */

    footer p{
        font-size: 12px;
    }

    .seccionRedesSociales{
        flex-direction: column;
    }

    /* iniciar sesion *//* registro usuarios */

    #tarjetaIniciarSesion , #seccionMostrarDatos , #seccionRegistro , #tarjetaCerrarSesion  {
        left: 5%;
        top: 18%;
        width: 200px;
        text-align: center;
    
    }

    #tarjetaIniciarSesion input{
        width: 150px;
        margin: 0px auto;
    }

    #enlaceRegistro{
        width: 200px;
    }


}


@media(min-width:321px) and (max-width:500px) {

    .tituloEmpresa {
        height: 80px;
        padding: 25px;
        font-size: 25px;
    }



    .simboloInicioSesion {
        width: 30px;
        height: 30px;
    }

    .seccionInicio {

        min-width: 200px;
        margin: 20px 0px 20px 10%;
    }

    .seccionMenu {
        flex-direction: column;
    }

    .seccionMenu a {
        margin: 10px auto;
    }

     /* iniciar sesion */

     #tarjetaIniciarSesion , #seccionMostrarDatos , #seccionRegistro ,#tarjetaCerrarSesion {
        left: 18%;
        top: 28%;
        width: 300px;
        text-align: center;
    
    }

    

}

@media (min-width:501px) and (max-width:768px) {

    .seccionInicio {
        min-width: 200px;
        margin: 20px 0px 20px 50%;

    }


    .seccionMenu {
        height: 40px;
    }


    /* Posicion tarjetas de usuario */

    #tarjetaIniciarSesion , #seccionMostrarDatos , #tarjetaCerrarSesion  {

    left: 28%;
    top: 38%;


}


}

@media (min-width:769px) and (max-width:1000px) {


    .tituloEmpresa {
        font-size: x-large;
    }

    a.opcionMenu {
        font-size: x-large;
    }


    .seccionMenu {
        height: 40px;
    }

    #tarjetaIniciarSesion , #seccionMostrarDatos , #tarjetaCerrarSesion  {

    left: 35%;
    top: 38%;

    }

    .seccionInicio {
        min-width: 300px;
        margin: 20px 0px 20px 43%;
    }


}



@media (min-width:1000px) {

    .tituloEmpresa {
        height: 80px;
        padding: 25px;
        font-size: 30px;
    }

    .seccionInicio {
        min-width: 300px;
        margin: 20px 0px 20px 55%;
    }


    .seccionMenu {

        height: 40px;
    }

    a.opcionMenu {
        font-size: x-large;

    }

    #tarjetaIniciarSesion , #seccionMostrarDatos , #tarjetaCerrarSesion  {


    left: 36%;
    top: 38%;


    }


}


