.tituloFacturacion {
  background-color: rgb(233, 36, 36);
  color: white;
  text-align: center;
  padding: 8px 0;
  font-size: 20px;
  width: 80%;
  margin: 30px auto 10px auto;
  border-radius: 3px;
}

.tablaFacturas {
  width: 90%;
  margin: 0 auto 50px auto;
  border-collapse: collapse;
}

#tablaHistorial {
  width: 100%;
  border-collapse: collapse;
}

#tablaHistorial th, #tablaHistorial td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#tablaHistorial th {
  color: black;
  font-weight: bold;
}

.filaFactura:hover {
  background-color: #f3f3f3;
}

.btnDetalles {
  background: none;
  border: none;
  color: rgb(69, 69, 252);
  cursor: pointer;
  font-weight: bold;
}

.filaDetalles {
  background-color: #f3f3ff;
}

.filaDetalles h4 {
  margin: 5px 0;
  color: #333;
  font-weight: bold;
}

.tablaInterna {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

.tablaInterna th, .tablaInterna td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.oculto {
  display: none;
}
