main {

    margin-bottom: 300px;
    padding-top: 50px;
}

.tituloAlqueria {
    text-align: center;
}

.seccionFacturacion {
  background-color: rgb(247, 239, 239);
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  border: solid 2px rgb(218, 159, 83);
}

.seccionFacturacion form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: auto;
}

.campo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.campo input {
  background-color: rgb(229, 171, 97);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

#tablaProductos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#tablaProductos th, #tablaProductos td {
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(218, 159, 83);
}

.botonesTabla {
  margin-top: 15px;
}

.botonesTabla button {
  background-color: rgb(233, 36, 36);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  cursor: pointer;
}

.botonesFactura {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.botonesFactura button {
  background-color: rgb(218, 159, 83);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.botonesFactura button:hover {
  background-color: rgb(233, 36, 36);
}

.total {
  font-size: 20px;
  margin-top: 10px;
}
