



@media (min-width:0px) and (max-width:320px) {

    /* header */

    .seccionInicio {
        min-width: 100px;
        margin: 20px 0px 20px 0%;
    }

    .iniciarSesion,
    .registrarte {
        width: 30px;
        height: 35px;

    }

    .simboloInicioSesion {
        width: 30px;
        height: 30px;
    }

    .seccionMenu {
        flex-direction: column;
    }

    .seccionMenu a {
        margin: 10px auto;

    }

    .buscador input {
        width: 60%;
    }

    .buscador input[type="submit"] {

        border-radius: 30px;
        background-color: rgb(233, 36, 36);
        border: none;
        width: 30%;
    }

    /* main */

    main {
        padding: 5px;
        width: 100%;
        margin: 0px auto;
        border-radius: 20px;
        margin-bottom: 200px;

    }

    .productos {
        flex-direction: column;
        width: 100%;
    }

    .productos img {
        width: 100px;
        height: 100px;
    }

    .facturaActual {
        width: 100%;
        height: 100px;

    }

    

    .seccionBotones p {
        margin: 0px 2px;
        height: 30px;
        padding-top: 5px;
    }

    .tarjeta{
        border: solid rgb(230, 194, 129) 10px;
    }


    .textoTarjeta {
        font-size: 18px;
        padding: 0px;
    }

    /* formulario */

    form {
        width: 100%;
       
    }

    form h2  {
        font-size: 18px;
       
    }

    form input {
        width: 80%;
       
    }

    .seccionFacturacion textarea{
        width: 80%;
    }

    .seccionFacturacion button{
        width: 80%;
        margin: 5px;
    }

    .registro {
        padding: 0px;
    }


    /* footer */

    footer p{
        font-size: 12px;
    }

    .seccionRedesSociales{
        flex-direction: column;
    }

    /* iniciar sesion *//* registro usuarios */

    #tarjetaIniciarSesion , #seccionMostrarDatos , #seccionRegistro , #tarjetaCerrarSesion  {
        left: 5%;
        top: 18%;
        width: 200px;
        text-align: center;
    
    }

    #tarjetaIniciarSesion input{
        width: 150px;
        margin: 0px auto;
    }

    #enlaceRegistro{
        width: 200px;
    }

    /* facturas */

    #seccionFacturas {
        background-color: rgb(198, 197, 197 , 0.4);
        text-align: center;
        padding: 5px;
        height: 450px;
        
    }

    #seccionFacturas td{
        font-size: 11px;
    }

    #seccionFacturas th{
        font-size: 11px;
    }

    #seccionFacturas button{
        font-size: 10px;
    }

    #seccionFacturas p{
        font-size: 10px;
    }

    #seccionFacturas span{
        font-size: 10px;
    }

    #seccionValorTotal{
        display: flex;
        justify-content: center;
    }

    #seccionValorTotal span{
        margin: 10px 0px 0px 10px;
    }

    
    table{
        margin: 5px auto;
    }

}


@media(min-width:321px) and (max-width:500px) {

    .tituloEmpresa {
        height: 80px;
        padding: 25px;
        font-size: 25px;
    }



    .simboloInicioSesion {
        width: 30px;
        height: 30px;
    }

    .seccionInicio {

        min-width: 200px;
        margin: 20px 0px 20px 10%;
    }

    .seccionMenu {
        flex-direction: column;
    }

    .seccionMenu a {
        margin: 10px auto;
    }

     /* iniciar sesion */

     #tarjetaIniciarSesion , #seccionMostrarDatos , #seccionRegistro ,#tarjetaCerrarSesion {
        left: 18%;
        top: 28%;
        width: 300px;
        text-align: center;
    
    }

    

}

@media (min-width:501px) and (max-width:768px) {

    .seccionInicio {
        min-width: 200px;
        margin: 20px 0px 20px 50%;

    }


    .seccionMenu {
        height: 40px;
    }


    main {

        padding: 20px;
        width: 80%;
        margin: auto;
        border-radius: 20px;
        margin-bottom: 200px;

    }

    /* Posicion tarjetas de usuario */

    #tarjetaIniciarSesion , #seccionMostrarDatos , #tarjetaCerrarSesion  {

    left: 28%;
    top: 38%;


}


}


@media (min-width:769px) and (max-width:1000px) {


    .tituloEmpresa {
        font-size: x-large;
    }

    a.opcionMenu {
        font-size: x-large;
    }


    .seccionMenu {
        height: 40px;
    }

    #tarjetaIniciarSesion , #seccionMostrarDatos , #tarjetaCerrarSesion  {

    left: 35%;
    top: 38%;


}

}


@media (min-width:1000px) {

    .tituloEmpresa {
        height: 80px;
        padding: 25px;
        font-size: 30px;
    }

    .seccionInicio {
        min-width: 300px;
        margin: 20px 0px 20px 70%;
    }


    .seccionMenu {

        height: 40px;
    }

    a.opcionMenu {
        font-size: x-large;

    }

    #tarjetaIniciarSesion , #seccionMostrarDatos , #tarjetaCerrarSesion  {


    left: 36%;
    top: 38%;


    }


}