

@media (min-width:501px) and (max-width:768px) {



    main {

        padding: 20px;
        width: 80%;
        margin: auto;
        border-radius: 20px;
        margin-bottom: 200px;

    }


}




