

/* seccion del main del proyecto */

main {


    background-image: url("imagenes/logoAlqueria-320px.jpeg");
    background-size: cover;
    padding-top: 40%;
}

.mayorAliado {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    background-color: rgb(255, 255, 255, 0.7);
    margin: 0px auto;
}



.mayorAliado a {
    text-decoration: none;
    color: white;
    padding: 2px;
    margin: 0px auto;
    background-color: rgb(233, 36, 36);
    border-radius: 5px;
    width: 50%;
    height: 12%;
}


.separador {
  height: 60px; /* espacio */
}



/* seccion mision y vision */
.seccion-mision-vision {
    background-color: rgb(180, 0, 0);
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.mision, .vision {
    flex: 1;
    min-width: 300px;
    padding: 85px 60px;
    text-align: center;
}

.mision {
    background-color: rgb(180, 0, 0);
}

.vision {
    background-color: rgb(200, 20, 20);
}

.mision h2, .vision h2 {
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: bold;
}

.mision p, .vision p {
    font-size: 22px;
    line-height: 1.6;
}

/* Tarjetas servicios */

.seccionServicios {
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-direction: column;

}

.tarjeta {
    min-width: 100px;
    max-width: 240px;
    margin: 10px auto;
    height: 330px;
    background-color: rgb(233, 36, 36);
    border-radius: 15px;
    padding: 10px;
}

.imagenTarjeta1 {
    height: 50%;
    width: 100%;
    background-image: url("imagenes/logoDrogueria.jpg");
    background-size: cover;
    border-radius: 10px;


}

.imagenTarjeta2 {
    height: 50%;
    width: 100%;
    background-image: url("imagenes/logocasa.jgp.jpg");
    background-size: cover;
    border-radius: 10px;

}

.imagenTarjeta3 {
    height: 50%;
    width: 100%;
    background-image: url("imagenes/almacenesArreglado.png");
    background-size: cover;
    border-radius: 10px;

}

.seccionTextoTarjeta {
    height: 50%;
    text-align: center;
    color: white;


}

.textoTarjeta {
    width: 90%;
    margin: 0px auto;

}

/* Sección de Testimonios */
.seccion-testimonios {
    background-color: rgb(233, 36, 36);
    color: white;
    padding: 50px 20px;
    text-align: center;
    max-width: 1650px;  
    margin: 0 auto;     
    padding: 40px 20px;
}

.testimonio {
    max-width: 600px;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.icono-usuario {
    flex-shrink: 0;
}

.testimonio p {
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
}

.testimonio .autor {
    font-style: italic;
    margin-top: 10px;
}

.indicadores {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.indicador {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.indicador.activo {
    background-color: white;
}

/* Sección de Reseñas */
.seccion-resenas {
    background-color: rgb(233, 36, 36);
    color: white;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1650px;  
    margin: 0 auto;     
}

.contenido-resenas {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}

.contenido-resenas h2 {
    font-size: 42px;
    margin-bottom: 30px;
    margin-top: -10px;
}

.subtitulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.contenido-resenas p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.formulario-resenas {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}

.formulario-resenas textarea {
    width: 100%;
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    resize: vertical;
}

.boton-resenas {
    margin-top: 10px;
    text-align: center;
}

#btnEnviar {
    padding: 10px 20px;
    border: none;
    background-color: #ff6600;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

#btnEnviar:hover {
    background-color: #ff4500;
}


/* formulario */

.registro {
    margin: 0px auto 50px auto;
    max-width: 550px;  
    text-align: center;
    background-color:  rgb(180, 0, 0);
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.registro input {
    text-align: center;
    background-color:  rgb(180, 0, 0);
    padding: 10px;
    border-radius: 20px;
    
    

}

.registro button {
    margin: 20px 15px 50px 25px;
    text-align: center;
    background-color:  rgb(180, 0, 0);
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.formularioDatos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    
}




@media (min-width: 0px) and (max-width:320px) {

    
    main {
        padding-top: 60px;
        padding-bottom: 10px;
    }

    .mayorAliado {
        width: 80%;
    }

    .mayorAliado h3 {
        margin: 0px;
    }

    /* nuestros clientes */

    .imagenTarjeta1 {
        height: 30%;
    }
    
    .imagenTarjeta2 {
        height: 30%;
        
    }
    
    .imagenTarjeta3 {
        height: 30%;
        width: 100%;
        background-image: url("imagenes/almacenesArreglado.png");
        background-size: cover;
        border-radius: 10px;
    
    }

    .tarjeta {
        width: 150px;
        margin: 10px auto;
        background-color: rgb(233, 36, 36);
        border-radius: 15px;
        padding: 10px;
    }



@media(min-width:321px) and (max-width:500px) {

    .tituloEmpresa {
        height: 80px;
        padding: 25px;
        font-size: 25px;
    }

   
    main {
        padding-top: 50%;
        padding-bottom: 10%;
    }

    .mayorAliado {
        width: 70%;
        height: 85%;
    }


    

}

@media (min-width:501px) and (max-width:768px) {


    main {
        padding-top: 40%;

    }

    .mayorAliado {
        width: 60%;
        height: 100%;
        margin: 0px 0px 0px 40%;
    }

}



@media (min-width:769px) and (max-width:1250px) {

    .tituloEmpresa {
        font-size: x-large;
    }

    a.opcionMenu {
        font-size: x-large;
    }


    main {
        padding-top: 30%;

    }

    .mayorAliado {
        width: 50%;
        height: 100%;
        margin: 0px 0px 0px 50%;
        line-height: 200%;
        font-size: 22px;
    }

    .seccionServicios {
        flex-direction: row;
    }
}


@media (min-width:1250px) {

    .tituloEmpresa {
        height: 80px;
        padding: 25px;
        font-size: 30px;
    }


    .seccionMenu {
       
        height: 40px;
    }

    a.opcionMenu {
        font-size: x-large;
        
    }


    main {
        padding-top: 30%;

    }

    .mayorAliado {
        width: 50%;
        height: 100%;
        margin: 0px 0px 0px 50%;
        line-height: 200%;
        font-size: 25px;
    }


    }

}